/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NUM 1
#define SYM 2
#define MISC 3

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
&lt { quick-tap-ms = <200>; };

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <225>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

	combos {
			compatible = "zmk,combos";
			sqt {
				// H + J
				key-positions = <15 16>;
				bindings = <&kp SQT>;
			};
	};


    keymap {
        compatible = "zmk,keymap";
        base {
            bindings = <
                &kp Q      &kp W      &kp E       &kp R           &kp T        &kp Y            &kp U          &kp I       &kp O      &kp P
                &hm LGUI A &hm LALT S &hm LCTRL D &hm LSHFT F     &kp G        &kp H            &hm RSHFT J    &hm RCTRL K &hm LALT L &hm RGUI FSLH
                           &kp X      &kp C       &kp V           &kp B        &kp N            &kp M          &kp COMMA  &kp DOT
                                                  &kp ESC   	  &kp SPACE    &lt SYM RET  		&lt NUM BSPC
            >;
        };


        num {
            bindings = <
                &kp LBKT      &kp N7      &kp N8       &kp N9           &kp MINUS        &kp Y            &kp U          &kp I       &kp O      &kp P
                &hm LGUI SEMI &hm LALT N4 &hm LCTRL N5 &hm LSHFT N6     &kp EQL          &kp H            &hm RSHFT J    &hm RCTRL K &hm LALT L &hm RGUI SQT
                        	  &kp N1      &kp N2       &kp N3           &kp BSLH         &kp N            &kp M          &kp COMMA  &kp DOT
                                                  &kp N0   &kp RBKT      		&kp RET  &kp BSPC
            >;
        };

        sym {
            bindings = <
                &kp LBRC       &kp AMPS      &kp ASTRK       &kp LPAR            &kp UNDER       &kp Y            &kp U          &kp I       &kp O      &kp P
                &hm LGUI COLON &hm LALT DLLR &hm LCTRL PRCNT &hm LSHFT CARET     &kp PLUS        &kp H            &hm RSHFT J    &hm RCTRL K &hm LALT L &hm RGUI SQT
                           	   &kp EXCL      &kp AT          &kp HASH            &kp PIPE        &kp N            &kp M          &kp COMMA  &kp DOT
                                                  		&kp N0   &kp RBRC      		&kp RET  &kp BSPC
            >;
        };

        misc {
            bindings = <
                &kp LBRC       &kp AMPS      &kp ASTRK       &kp LPAR            &kp UNDER       &kp Y            &kp U          &kp I       &kp O      &kp RA(W)
                &hm LGUI COLON &hm LALT DLLR &hm LCTRL PRCNT &hm LSHFT CARET     &kp PLUS        &kp H            &hm RSHFT J    &hm RCTRL K &hm LALT RA(O) &hm RGUI RA(A)
                           	   &kp EXCL      &kp AT          &kp HASH            &kp PIPE        &kp N            &kp M          &kp COMMA  &kp DOT
                                                  		&kp N0   &kp RBRC      		&kp RET  &kp BSPC
            >;
        };

    };
};
